<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link href="./pages/api/components/login.module.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="harvest_logo.avif">
</head>
<body>
  <div class="login-container">
    <h1 class="login-title">Please Login</h1>
    <a href="/auth/google" class="google-button">Sign in with Google</a>
  </div>
</body>
</html> 