@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* TODO: Figure out how to implement fonts globally*/
.CustomerGUI * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    /* color: black; */
}

.CustomerGUI .receipt h2 {
    color: #575757;
    margin-bottom: 10px;
}

.CustomerGUI .receipt h3 {
    color: #575757;
}

.CustomerGUI .receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    width: 25%;
    position: sticky;
    top: 10px;
    /* Adjust as needed */
    /* margin-left: 0px; */
    margin-left: 3%;
    margin-right: -100px;
    padding: 10px;
    border: 2px solid #82DFAA;
    border-radius: 5px;
    background-color: #f5f5f5bf;
    color: #575757;
}

.CustomerGUI .receipt ul li {
    list-style-type: none;
}

.CustomerGUI .receiptItems {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #575757;
}

.CustomerGUI button.removeButton {
    flex: -1;
    background-color: #ff5c5c;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CustomerGUI button.checkoutButton {
    display: block;
    width: 100%;
    /* Make all "item-buttons" the same width */
    padding: 20px;
    margin-top: auto;
    background-color: #82DFAA;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

.CustomerGUI button.checkoutButton:hover {
    background-color: rgb(149, 250, 184)
}

.CustomerGUI .foot {
    margin-top: 20px;
}


.CustomerGUI {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.CustomerGUI .mainScreen {
    margin-top: 20px;
    display: flex;
    margin-bottom: 40px;
}

.CustomerGUI .changeView {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    width: 10%;
    padding: 5px;
    margin-bottom: 30px;
}

.CustomerGUI .menu {
    display: block;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    width: 60%;
    margin-left: 0px;
    /* Adjust as needed */
    justify-content: flex-start;
    /* overflow-y: auto; */
}

.CustomerGUI .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.CustomerGUI .menu h2 {
    text-align: center;
}

.CustomerGUI .menu ul li {
    margin-left: 20px;
    list-style-type: none;
    width: 40%;
}

.CustomerGUI button.itemButtons {
    display: block;
    width: 100%;
    height: 80%;
    padding: 30px;
    background-color: #f5f5f5bf;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 5%;
    margin-left: 6%;
}

.CustomerGUI button.itemButtons:hover {
    background-color: #82DFAA;
}

.CustomerGUI .line {
    margin-bottom: 2%;
    width: 117%;
    margin-left: -15%;
    height: 3px;
    background-color: #82DFAA;
}

.CustomerGUI .menuItemStyle {
    margin-bottom: 10px;
    margin-left: -8%;
}

.CustomerGUI .catStyle {
    margin-bottom: 3%;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -130px;
    /* justify-content: space-between; */
    /* overflow-y: scroll; */
}

.CustomerGUI .catStyle ul {
    margin: 0;
    padding: 0;
    display: -moz-box;
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
}


.CustomerGUI .catButtons {
    margin-top: 5%;
    width: 100%;
    margin-left: 2%;
    padding: 5px;
    background-color: white;
    /* color: black; */
    cursor: pointer;
    /* border-radius: 5px; */
    text-align: center;
    border: none;
    font-weight: 1000;
    font-size: 16px;
}

.CustomerGUI button.catButtons:hover {
    background-color: #f5f5f5bf;
    color: #82DFAA;
    border-radius: 5px;
}

.CustomerGUI .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.CustomerGUI .itemNameStyle {
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: bolder;
}

.CustomerGUI .footer .line2 {
    background-color: #82DFAA;
    height: 3px;
    width: 100%;
}

.CustomerGUI .header2 {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    /* justify-content: space-between; Put space between the items */
    margin-left: 40%;
}

.CustomerGUI .header2 h2 {
    margin-right: 15%;
    /* Adjust the margin between h2 and button */
}

.CustomerGUI .header2 button {
    background-color: #f5f5f5bf;
    /* Green background color */
    color: black;
    /* White text color */
    width: 50%;
    border-color: #82DFAA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.CustomerGUI .header2 button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

/* ------------------ Accesilibity mode starts here ------------------------- */

.accessibilityMode * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    /* color: black; */
}

.accessibilityMode .receipt h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.accessibilityMode .receipt h3 {
    color: #ffffff;
}

.accessibilityMode .receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 10%;
    position: sticky;
    top: 10px;
    /* Adjust as needed */
    /* margin-left: 0px; */
    margin-left: 3%;
    margin-right: -100px;
    padding: 10px;
    border: 2px solid #82DFAA;
    border-radius: 5px;
    background-color: #1e1e1ebf;
    color: #ffffff;
}

.accessibilityMode .receipt ul li {
    list-style-type: none;
}

.accessibilityMode .receiptItems {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #ffffff;
}

.accessibilityMode button.removeButton {
    flex: -1;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accessibilityMode button.checkoutButton {
    display: block;
    width: 100%;
    /* Make all "item-buttons" the same width */
    padding: 20px;
    margin: 5px 0;
    background-color: #414744;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

.accessibilityMode button.checkoutButton:hover {
    background-color: rgb(149, 250, 184)
}

.accessibilityMode .foot {
    margin-top: 20px;
}


.accessibilityMode .header .checkout {
    /* Move the checkout button to the right */
    background-color: rgb(113, 123, 111);
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
}

.accessibilityMode {
    background-color: rgb(62, 62, 62);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* min-height: 100vh; */
}

.accessibilityMode .mainScreen {
    margin-top: 20px;
    display: flex;
    margin-bottom: 40px;
}

.accessibilityMode .changeView {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    width: 10%;
    padding: 5px;
    margin-bottom: 30px;
}

.accessibilityMode .menu {
    display: block;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    width: 60%;
    margin-left: 0px;
    /* Adjust as needed */
    justify-content: flex-start;
    /* overflow-y: auto; */
}

.accessibilityMode .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.accessibilityMode .menu h2 {
    text-align: center;
    color: white;
}

.accessibilityMode .menu ul li {
    margin-left: 20px;
    list-style-type: none;
    width: 40%;
}

.accessibilityMode button.itemButtons {
    display: block;
    width: 100%;
    height: 80%;
    padding: 30px;
    background-color: #1e1e1ebf;
    border-color: #82DFAA;
    color: #ffffff;
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 10%;
}

.accessibilityMode button.itemButtons:hover {
    background-color: #000000;
}

.accessibilityMode .line {
    margin-bottom: 2%;
    width: 117%;
    margin-left: -15%;
    height: 3px;
    background-color: #82DFAA;
}

.accessibilityMode .menuItemStyle {
    margin-bottom: 10px;
    margin-left: -8%;
}

.accessibilityMode .catStyle {
    margin-bottom: 3%;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -130px;
    /* justify-content: space-between; */
    /* overflow-y: scroll; */
}

.accessibilityMode .catStyle ul {
    margin: 0;
    padding: 0;
    display: -moz-box;
    display: flex;
    flex-wrap: nowrap;
    width: 70%;

}

.accessibilityMode .catButtons {
    margin-top: 5%;
    width: 100%;
    margin-left: 2%;
    padding: 5px;
    background-color: #1e1e1ebf;
    border-radius: 5px;
    border-color: #82DFAA;
    color: white;
    cursor: pointer;
    /* border-radius: 5px; */
    text-align: center;
    border: none;
    font-weight: 1000;
    font-size: 16px;
}

.accessibilityMode button.catButtons:hover {
    background-color: #000000bf;
    color: #ffffff;
    border-radius: 5px;
}

.accessibilityMode .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.accessibilityMode .itemNameStyle {
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: bolder;
}

.accessibilityMode .line2 {
    background-color: #82DFAA;
    height: 3px;
    margin-bottom: 2%;
}

.accessibilityMode .header2 {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    /* justify-content: space-between; Put space between the items */
    margin-left: 40%;
}

.accessibilityMode .header2 h2 {
    margin-right: 15%;
    /* Adjust the margin between h2 and button */
}

.accessibilityMode .header2 button {
    background-color: #f5f5f5bf;
    /* Green background color */
    color: black;
    /* White text color */
    width: 50%;
    border-color: #82DFAA;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.accessibilityMode .header2 button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}