@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700;900&display=swap');

/*TODO: Apply globally*/
.FooterBar {
    font-family: 'Encode Sans', sans-serif;
    background-color: #575757;
    margin: 0;
    padding: 0;
}

.FooterBar ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    overflow: hidden;
    margin: 10px
}

.FooterBar li {
    display: inline;
    justify-content: center;
    float: right;
}

.FooterBar li p {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.PoweredBy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.PoweredBy p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 2px;
}