@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* TODO: Figure out how to implement fonts globally*/
.ManagerGUI * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ManagerGUI {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.ManagerGUI h1 {
    margin-bottom: 10px;
    color: #333;
}

.ManagerGUI h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.ManagerGUI section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ManagerGUI section:hover {
    border-color: #88888844;
    background-color:#dadada6c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.menuItemsList .scrollableContainer {
    max-height: 500px; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    
}

.menuItemsList ul {
    list-style-type: none;
    padding: 0;
    margin: 5; 
}

.menuItemsList li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.menuItemsList li:hover {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(202, 202, 202, 0.685);
    border-radius: 7px;
}

.menuItemsList .addButton, .editButton, .deleteButton {
    margin: 7.5px;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 0.9em;
}

.addButton {
    background-color: #adadad;
    color: white;
}

.editButton {
    background-color: #adadad;
    color: rgb(255, 255, 255);
}

.deleteButton {
    background-color: #F44336;
    color: white;
}


