/*TODO: Apply globally*/
.NavBar ul {
    display: flex;
    /* flex-direction: row; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #333;
    opacity: 0.90;
}

.NavBar li {
    margin-right: 10px; /* Push items to the right */
}

.NavBar li.login {
    margin-right: auto; /* Push the Login to the left */
}

.NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar li a:hover {
    background-color: #000000;
    opacity: 1;
}

.NavBar li.login button {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    background-color: transparent;
    display: block;
    border: none;
    text-align: center;
    padding: none;
    cursor: pointer;
  }
  
.NavBar li.login button:hover {
    background-color: transparent;
    opacity:1;
  }
